<h5>
  Thanks for the money.
</h5>
<h5>
  You will receive an email confirmation from Stripe.
</h5>
<%= link_to "PAYGU AGAIN", new_charge_path, class: "btn-large" %>
<h5>
  How much and why people have paid Gu:
</h5>
<table class="highlight">
  <tbody>
    <% @payments.each do |p| %>
      <tr>
        <td>
          $<%= Money.new(p.amount) %>
        </td>
        <td>
          <%= p.why %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<h5>
  Total: $<%= @total %>
</h5>
