<!DOCTYPE html>
<html>
  <head>
    <title>PayGu</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="row center-align">
      <div class="col s12 m6 offset-m3">
        <h1>
          PayGu
        </h1>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
